{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aristum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aristum.id }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ aristum.longitud }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arista_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('arista_edit', { 'id': aristum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
